footer#footer(style="background-color: #f6f6f6")
	.container-wrap
		ul
			li
				p.footer-link &copy; 2022 
					a(href="#").footer-link Theme by psdfreebies.com
			li
				a(href="#").footer-link Privacy
			li
				a(href="#").footer-link Terms of Use
			li
				a(href="#").footer-link Site map