header#header
	.container-wrap
		.logo
			a(href="#")
				img(src="images/logo.png", alt=""+siteTitle+"")
		nav.nav-holder
			a(href="#", onclick="return false").nav-opener
				i.icon
				i.icon
				i.icon 
			.nav-slide
				ul#menu
					li
						a(href="#home").nav-link Home
					li
						a(href="#about").nav-link About
					li
						a(href="#features").nav-link Features
					li
						a(href="#product").nav-link Product
					li
						a(href="#reviews").nav-link Reviews
					li
						a(href="#faq").nav-link Faq
					li
						a(href="#contact").nav-link Contact