header#header
	.container-wrap
		.logo
			a(href="#")
				img(src="images/logo.png", alt=""+siteTitle+"")
				//- img(src="images/BlueRex.png" alt="logo-name")
		nav.nav-holder
			a.nav-opener(href="#")
				span 
			.nav-slide
				ul
					li
						a(href="#") Home
					li
						a(href="#") About
					li
						a(href="#") Features
					li
						a(href="#") Product
					li
						a(href="#") Reviews
					li
						a(href="#") Faq
					li
						a(href="#") Contact
				

	