#wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.container-wrap {
	@extend %clearfix;
	max-width: $max-container-width;
	padding: 0 $trim;
	margin: 0 auto;
	width: 100%;
}

.visual-block {
	display: flex;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 226px 0 208px 72px;

	@include media ('<desktop') {
		padding-top: 180px;
		padding-bottom: 125px; 
	}

	@include media ('<tablet') {
		padding: 140px 60px 75px 60px; 
	}

	@include media ('<phone') {
		padding: 120px 20px 60px 20px;	
	}

	.container-wrap {
		max-width: 1172px;
		position: relative;
	}

		.visual-block--content {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			position: relative;
			z-index: 10;
			width: 55%;
			color: $white;

			@include media ('<tablet') {
				width: 100%;
			}

			h1 {
				line-height: 1;
				margin: 0 0 26px;
				letter-spacing: -1px;

				@include media('<widescreen') {
					font-size: 36px;
				}

				@include media('<desktop') {
					font-size: 34px;
				}

				@include media ('<tablet') {
					font-size: 32px;
				}

				@include media ('<phone') {
					font-size: 26px;
				}
			}

			.title {
				font-family: $base-font-italic;
				font-size: 35px;
				letter-spacing: -0.4px;
				margin: 0 0 7px;
				line-height: 1.2;

				@include media('<desktop') {
					font-size: 30px;
				}

				@include media ('<tablet') {
					font-size: 28px;
				}

				@include media ('<phone') {
					font-size: 24px;
				}
			}

			p {
				font-size: 18px;
				color: $white;
				line-height: 1.4;
				margin: 0 0 72px;
				letter-spacing: 0.2px;

				@include media('<desktop') {
					font-size: 16px;
				}

				@include media ('<tablet') {
					font-size: 14px;
				}

				@include media ('<phone') {
					margin: 0 0 40px;
				}
			}
		}

		.visual-block__buttons {
			display: inline-block;
			margin: 0 0 0 48px;

			@include media('<desktop') {
				margin: 0 0 0 18px;
			}
		}

		a {
			line-height: 0.9;
			letter-spacing: -0.6px;

			&.btn-pink {	
				padding: 16px 41px 14px 38px;

				@include media('<desktop') {
					padding: 10px 20px;
				}

				@include media ('<tablet') {
					padding: 8px 16px;
				}

				&:hover {
					background-color: rgba($violet, 0.7);
					color: $white;
				}
			}

			&.btn-violet {
				padding: 16px 33px 13px 41px;
				margin: 0 0 0 16px;

				@include media('<desktop') {
					padding: 10px 20px;
				}

				@include media ('<tablet') {
					padding: 8px 16px;
				}

				&:hover {
					background-color: $pink;
					color: $white;
				}
			}
		}

	.person-image {
		display: block;
		position: absolute;
		z-index: 3;
		width: 57.6%;
		bottom: -209px;
		right: 75px;

		@include media('<widescreen') {
			width: 55%;
			right: 50px;
		}

		@include media('<desktop') {
			width: 50%;
			right: 60px;
			bottom: -125px;
		}

		@include media ('<tablet') {
			display: none;
		}
	}
}

.section__about-us {
	display: flex;
	justify-content: space-between;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 78px 0 102px;

	@include media('<desktop') {
		padding: 60px;
	}

	@include media('<tablet') {
		padding: 60px 40px;
	}

	@include media ('<phone') {
		padding: 60px 0;
	}

	.container-wrap {
		max-width: 985px;
		position: relative;

		.section__about-us--content {
			width: 48%;

			@include media('<desktop') {
				width: 65%;
			}

			@include media ('<tablet') {
				width: 100%;
			}
		}
	}

	.title {
		font-family: $base-font-italic;
		line-height: 1.5;
		font-size: 24px;
		letter-spacing: 1.1px;

		@include media('<desktop') {
			font-size: 22px;
		}

		@include media('<phone') {
			font-size: 18px;
		}
	}

	h2 {
		margin: 0 0 24px;
		line-height: 1.1;
		letter-spacing: -1px;

		@include media('<widescreen') {
			font-size: 32px;
		}

		@include media('<desktop') {
			font-size: 32px;
		}

		@include media ('<tablet') {
			font-size: 28px;
		}

		@include media ('<phone') {
			font-size: 22px;
		}
	}

	p {
		font-size: 11px;
		line-height: 1.9;
		margin: 18px 0 51px;
		letter-spacing: 0.06px;

		@include media ('<phone') {
			margin-bottom: 20px;
		}
	}

	.nav {

		ul {
			margin: 0 0 26px -9px;
		}

		li {
			display: inline-block;
			vertical-align: top;
			padding: 0;

			a {
				text-transform: uppercase;
				color: $dark_grey;
				line-height: 1.9;
				font-size: 11px;
				font-family: $base-font-sans-serif;
				font-weight: 600;
				letter-spacing: -0.6px;
				padding: 12px 23px 12px 24px;

				@include media('<widescreen') {
					padding: 14px 20px;
				}

				@include media('<desktop') {
					padding: 10px 14px;
				}

				@include media('<tablet') {
					padding: 10px 14px;
				}

				@include media ('<phone') {
					padding: 7px;
					font-size: 10px;
				}

				@include media ('<xs-phone') {
					padding: 6px;
				}

				&:hover {
					background-color: $pink;
					border-radius: 20px;
					color: $white;
				}
			}
		}
	}

	.btn__read_more {
		margin: 0 0 0 8px;
	}

	.watch-image {
		position: absolute;
		width: 37%;
		top: -24px;
		right: -13px;
		z-index: 3;

		@include media('<widescreen') {
			width: 36%;
			right: 20px;
		}

		@include media('<desktop') {
			width: 34%;
			top: 0;
			right: -30px;
		}

		@include media ('<tablet') {
			display: none;
		}
	}
}

.section__features  {

	.container-wrap {
		display: flex;
		max-width: 1220px;
		color: $white;

		@include media ('<tablet') {
			flex-direction: column;
			flex-wrap: wrap;
		}
	}

	.icon-megaphone {
		font-size: 62px;
		margin: 0 0 16px;
	}

	.count {
		font-size: 41px;
		font-weight: 800;

		@include media('<desktop') {
			font-size: 36px;
		}

		@include media ('<tablet') {
			font-size: 32px;
		}
	}

	.title {
		font-size: 26px;
		font-weight: 600;
		line-height: 1;

		@include media('<desktop') {
			font-size: 22px;
		}

		span {
			font-size: 22px;
			font-weight: 400;
		
			@include media('<desktop') {
				font-size: 20px;
			}
		}
	}

	p {
		font-size: $font-size-base;
		line-height: 1.6;
		margin: 26px 0;

		@include media ('<tablet') {
			font-size: 14px;
		}
	}

	.section__features--block {
		text-align: center;	

		&:first-child {
			width: 31.5%;
			padding: 64px 58px 50px;

			@include media ('<widescreen') {
				padding: 60px 30px;
			}

			@include media ('<desktop') {
				padding: 40px 20px;
			}

			@include media ('<tablet') {
				width: 100%;
				padding: 20px 90px;
			}

			@include media ('<phone') {
				padding: 40px 0;
			}

			.count {
				margin: 0 0 8px;
			}

			.title {
				line-height: 0.9;
			}
		}

		&:nth-child(2) {
			background-color: $dark_violet;
			padding: 66px 90px 0;
			width: 37%;

			@include media ('<widescreen') {
				padding: 60px 30px;
			}

			@include media ('<desktop') {
				padding: 40px 20px;
			}

			@include media ('<tablet') {
				width: 100%;
				padding: 20px 90px;
			}

			@include media ('<phone') {
				padding: 40px 0;
			}

			.count {
				margin: 0 0 3px;
			}

			.title {
				font-size: $font-size-big;
				font-weight: 400;
				letter-spacing: -1.6px;

				span {
					margin: 0 0 5px 0;
					letter-spacing: -1.2px;
				}
			}
		}

		&:nth-child(3) {
			padding: 66px 40px 0;
			width: 29%;

			@include media ('<widescreen') {
				padding: 60px 30px;
			}

			@include media ('<desktop') {
				padding: 40px 20px;
			}

			@include media ('<tablet') {
				width: 100%;
				padding: 20px 90px;
			}

			@include media ('<phone') {
				padding: 40px 0;
			}

			span {
				font-weight: 600;
				letter-spacing: -1.1px;
			}
		}
	}
}

.section__suggest {
	padding: 74px 0 78px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: $white;

	@include media ('<desktop') {
		padding: 60px 0;
	}

	.container-wrap {
		max-width: 930px;
	}

	.title {
		font-family: $base-font-italic;
		font-style: italic;
		font-size: 36px;
		line-height: 0.9;
		letter-spacing: 1.5px;

		@include media('<desktop') {
			font-size: 28px;
		}

		@include media ('<phone') {
			font-size: 24px;
		}
	}

	h2 {
		line-height: 1.6;
		letter-spacing: -0.19px;
		margin: 0 0 14px 27px;

		@include media('<desktop') {
			font-size: 32px;
		}

		@include media ('<tablet') {
			font-size: 30px;
			line-height: 1;
			margin: 20px 0;
		}

		@include media ('<phone') {
			font-size: 26px;
		}
	}

	p {
		font-size: 16px;
		line-height: 1.6;
		margin: 0 58px 50px 84px;

		@include media ('<tablet') {
			margin: 0 0 30px;
		}
	}

	.btn__read_more {
		margin: 0 0 0 35px;

		@include media ('<tablet') {
			margin: 0;
		}
	}
}

.section__products {
	padding: 75px 0 108px;

	@include media ('<tablet') {
		padding: 40px 20px;
	}

	.container-wrap {
		display: flex;
		justify-content: space-between;
		max-width: 987px;

		@include media ('<tablet') {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}

	.section__products--content {
		width: 50%;

		@include media ('<tablet') {
			width: 100%;
		}
	}

	.title {
		font-size: 26px;
		font-family: $base-font-italic;
		color: $black;
		line-height: 1.3em;
		letter-spacing: 0.15px;

		@include media('<desktop') {
			font-size: 22px;
		}
	}

	h2 {
		line-height: 1;
		font-size: 39px;
		letter-spacing: -0.3px;
		margin: 0 0 23px;

		@include media('<desktop') {
			font-size: 32px;
		}

		@include media ('<phone') {
			font-size: 28px;
		}
	}

	p {
		font-size: 14px;
		line-height: 1.48;
		letter-spacing: 0.1px;
	}

	.container-products {
		display: flex;

		@include media ('<phone') {
			flex-direction: column;
			flex-wrap: wrap;
		}

		.product-block {
			width: 50%;
			padding: 24px 24px 0 3px;

			@include media ('<phone') {
				width: 100%;
				padding: 20px 0;
				text-align: center;
			}
		}

		.icon {
			width: 60px;
			height:60px;
			margin: 0 0 8px;
		}

		.title-text {
			display: block;
			font-size: 20px;
			color: $dark_grey;
			font-weight: 800;
			margin: 0 0 6px;

			@include media('<desktop') {
				font-size: 18px;
			}
		}

		p {
			font-size: 11px;
			line-height: 1.9em;
			margin: 0 0 40px;

			@include media('<tablet') {
				line-height: 1.6;
				font-size: 14px;
			}
		}

		.btn__read_more {
			margin: 0;
		}

		&:first-child {
			padding-left: 0;

			.icon {
				margin: 0 0 8px 8px;
			}
		}
	}

	.section__products--video {
		padding: 65px 0 0;

		.video-box {
		position: relative;
		}

		@include media ('<tablet') {
			width: 60%;
		}

		@include media ('<phone') {
			width: 75%;
		}
	}

	.btn__video {
		position: absolute;
		z-index: 3;
		top: 48%;
		left: 51%;
		margin: -37.5px;
		width: 75px;
		height: 75px;
		background-color: $pink;
		border-radius: 50%;	
	}

	.icon-video-btn {
		color: $white;
		font-size: 48px;
		position: absolute;
		top: 10%;
		left: 25%;
	}
}

.section__reviews {
	padding: 50px 0 2px;

	@include media ('<phone') {
		padding: 40px 20px;
	}

	.container-wrap {
		max-width: 1024px;
	}

	.section__reviews--heading {
		text-align: center;
		padding: 0 100px;

		@include media ('<tablet') {
			padding: 0;
		}
	}

	h2 {
		font-size: 41px;
		letter-spacing: -0.7px;
		margin: 0 0 23px 28px;

		@include media('<desktop') {
			font-size: 38px;
		}

		@include media ('<tablet') {
			font-size: 36px;
		}

		@include media ('<phone') {
			font-size: 28px;
			margin: 0 0 20px;
		}

		@include media ('<xs-phone') {
			font-size: 26px;
		}
	}

	p {
		font-size: 16px;
		line-height: 1.6;
		margin: 0 0 0 26px;

		@include media('<desktop') {
			font-size: 14px;
			line-height: 1.4;
		}

		@include media ('<tablet') {
			font-size: 12px;
		}

		@include media ('<phone') {
			margin: 0 0 20px;
		}
	}

	.section__reviews--tabs {

		.tabset {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 36px 0;
		}

		li {
			padding: 12px 30px 11px 27px;

			@include media ('<tablet') {
				width: 40%;
				text-align: center;
			}

			@include media ('<phone') {
				width: 60%;
			}

			a {
				color: $dark_grey;
				font-size: 15px;
				text-transform: uppercase;
				letter-spacing: -1.2px;
				font-weight: 600;

				@include media('<desktop') {
					font-size: 14px;
				}

				@include media ('<tablet') {
					font-size: 12px;
				}

				@include media ('<phone') {
					font-size: 14px;
				}
			}
			
			.active,
			&:hover, 
			&:active {
			background-color: $pink;
			border-radius: 20px;

				a {
					color: $white;
				}
			}
		}

		.tab-contentainer {

			.tab-content {
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				margin: 22px 6px 25px;
			}

			.image-block {
				padding: 0 12px 23px;
				width: calc(100% / 3 - 	0.1px);

				@include media('<desktop') {
					width: 30%;
				}

				@include media ('<tablet') {
					width: 100%;
					text-align: center;
				}
			}
		}
	}

	.section__reviews--button {
		text-align: center;
		padding: 40px 0 104px 24px;

		@include media('<desktop') {
			padding-bottom: 80px;
		}

		@include media ('<phone') {
			padding: 20px 0 40px	;
		}
	}
}

.section__partners {
	padding: 67px 0;

	@include media ('<phone') {
		padding: 0;
	}

	.container-wrap {
		max-width: 860px;

		@include media('<desktop') {
			padding-left: 60px;
			padding-right: 40px;
		}

		@include media ('<phone') {
			padding: 0;
		}

		.container-partners {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			.partner-block {
				text-align: center;
				padding: 22px 28px;	
				width: 25%;

				@include media ('<tablet') {
					padding: 20px;
					width: 50%;
				}
			}
		}
	}
}

.section__quote {
	padding: 54px 0 63px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: $white;

	.container-wrap {
		max-width: 826px;
		position: relative;
	}

	.title {
		font-family: $base-font-italic;
		font-size: 34px;
		letter-spacing: -0.6px;

		@include media('<desktop') {
			font-size: 30px;
		}

		@include media ('<phone') {
			font-size: 22px;
		}
	}

	h2 {
		@include media('<desktop') {
			font-size: 38px;
		}

		@include media ('<phone') {
			font-size: 28px;
		}
	}

	blockquote {
		position: relative;
		z-index: 10;
		width: 55%;
		padding: 38px 0 0;
		quotes: inherit;

		@include media('<desktop') {
			width: 45%;
		}

		@include media ('<tablet') {
			width: 75%;
		}

		q {
			font-size: 18px;
			font-weight: 400;
			font-style: italic;
			letter-spacing: -0.4px;
			line-height: 1.2;

			@include media('<desktop') {
				font-size: 16px;
			}
		}

		&:before {
			position: absolute;
			content: open-quote;
			font-size: 140px;
			font-style: italic;
			margin: -50px 0 0 -67px;
			color: $pink;
			z-index: 20;
			quotes: inherit;
		}

		cite {
			display: block;
			font-size: 20px;
			font-family: $base-font-sans-serif;
			margin: 96px 0 0 -7px;


			@include media('<desktop') {
				font-size: 18px;
			}

			&:before {
				content: url(/images/stars.png);
				position: absolute;
				margin-top: -1.9em;
				margin-left: 0.2em;
			}
		}
	}

	.client-photo {
		position: absolute;
		z-index: 10;
		bottom: -76px;
		right: 33px;

		@include media('<desktop') {
			width: 30%;
		}

		@include media ('<tablet') {
			display: none;
		}
	}
}

.section__callback {
	padding: 61px 0 52px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: $white;

	.container-wrap {
		max-width: 1000px;
	}

	.section__callback--title {
		text-align: center;
	}

	h2 {
		margin: 0 40px 0 0;

		@include media('<desktop') {
			font-size: 36px;
		}

		@include media ('<tablet') {
			margin: 0;
		}

		@include media ('<phone') {
			font-size: 28px;
		}
	}

	h4 {
		padding: 5px 42px 0 0;
		letter-spacing: -1.3px;

		@include media('<desktop') {
			font-size: 24px;
		}

		@include media ('<tablet') {
			margin: 0;
			padding: 0;
		}

		@include media ('<phone') {
			font-size: 22px;
		}
	}

	p {
		padding: 11px 32px 0 0;
		font-size: 14px;
		letter-spacing: 0.1px;
		line-height: 1.4;
		margin: 0;

		@include media ('<desktop') {
			padding: 0;
		}
	}

	.section__callback--form {
		padding: 52px 10px 10px;
		display: flex;

		@include media ('<desktop') {
			padding: 40px 0;
		}

		@include media ('<tablet') {
			flex-direction: column;
			align-items: center;
		}

		input {
			width: 41%;
			margin: 0 16px 0 0;
			padding: 14px 32px;
			background-color: rgba($white, 0.35);
			border-radius: 8px;
			border: none;
			color: $white;
			font-weight: 600;

			@include media ('<tablet') {
				width: 75%;
				margin: 0 0 20px;
			}

			&::placeholder{
				color: $white;
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.2px;
			}
		}

		.btn-form {
			padding: 14px 32px;
			color: $white;
			font-weight: 600;
			opacity: 1;
			text-transform: uppercase;
			border-radius: $btn-trim;
			border-bottom: 7px solid $light_violet;

			&:hover {
				background-color: $pink;
				border-color: $pink_btn_border_bottom;
			}

			@include media ('<tablet') {
				width: 30%;
			}
			@include media ('<phone') {
				width: 50%;
			}
		}
	}
}

.section__socials {
	padding: 63px 0;

	@include media ('<phone') {
		padding: 40px 20px;
	}

	.container-wrap {
		max-width: 830px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;

		@include media('<desktop') {
			justify-content: center;
		}

		li {
			padding: 0;

			@include media ('<tablet') {
				margin: 10px;
				width: 80%;
				text-align: center;
			}

			&::after {
				content: '';
				position: absolute;
				height: 100%;
				width: 1px;
				background-color: rgba($white, 0.3);
			}
		}

		.partner-link {
			padding: 0 30px;
			color: $white;
			font-size: 22px;
			font-weight: 400;

			&:hover {
				color: $pink;
			}

			@include media('<desktop') {
				padding: 0 10px;
			}
		}
	}
}

.section__navigation {
	padding: 90px 0 80px;

	.container-wrap {
		max-width: 1012px;
		display: flex;

		@include media ('<tablet') {
			flex-direction: column;
		}
	}

	.section__navigation--sitemap {
		display: flex;
		width: 50%;
		flex-wrap: wrap;

		@include media ('<tablet') {
			width: 100%;
		}
	}

	.list-block {
		width: 40%;
		margin: 0 30px 28px 0;

		@include media('<desktop') {
			margin: 0;
			width: 50%;
		}

		@include media ('<tablet') {
			width: 25%;
		}

		@include media ('<phone') {
			width: 40%;
			margin: 0 0 0 25px;
		}
	}

	.title {
		color: $violet;
		font-size: 20px;
		font-weight: 800;
		letter-spacing: 0.6px;
	}

	ul {
		margin: 20px 0;

		li {
			padding: 2px 0 4px 14px;

			a {
				font-size: 12px;
				font-family: 'Poppins', sans-serif;
				font-weight: 800;
				color: $black;

				&:hover {
					color: $pink;
				}

				@include media ('<tablet') {
					font-size: 14px;
				}
			}
		}
	}

	.section__navigation--gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 50%;
		padding: 3px 16px 0 12px;

		@include media ('<tablet') {
			width: 100%;
		}
	}

	.photo-block {
		padding: 0;

		@include media('<desktop') {
			width: 50%;
		}

		@include media ('<tablet') {
			width: 25%;
			padding: 6px;
		}

		@include media ('<phone') {
			width: 50%;
		}
	}
}

//buttons

.btn-pink {
	background-color: $pink;
}

.btn-violet {
	background-color: rgba($violet, $btn-opacity);
}

.btn {
	font-family: $base-font-sans-serif;
	text-transform: uppercase;
	color: $white;
	border: none;
	font-weight: 800;
	border-radius: $trim-big;
}

.btn__read_more {
	position: relative;
	top: 0;
	margin: 0 0 0 8px;
	padding: 12px 20px;
	border-radius: 8px;
	box-shadow: 0 6px $pink_btn_border_bottom; 
	font-size: 12px;
	line-height: 1.7;
	user-select: none;
	transition: all 0.2s ease;

	@include media('<desktop') {
		padding: 11px 26px;
	}

	&:hover {
		background-color: $read_more_btn--active;
		box-shadow: 0px 5px $read_more_btn--border;
		color: $white;
	}

	&:active {
		top: 2px;
		box-shadow: 0px 2px $read_more_btn--active;
	}
}