[id="header"] {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 34px 0 0;
    margin: 0 auto;

    .container-wrap {
        max-width: 1316px;
        padding: 0;

        .logo {
            display: inline-block;
            padding: 2px 0 0 4px;
        }

        .nav-holder {
            float: right;

        .nav-slide {
            padding: 0px 25px 0 0;
        }

            li {
                display: inline-block;
                margin: 0 0 0 10px;
        
                a {
                    color: $white;
                    letter-spacing: 0.3px;
                    line-height: 5;
                }
            }
        }
    }  
}

.nav-scroll {
    padding: 0;
    background-color: rgba($black, 0.5);

    .container-wrap .logo {
        padding: 14px 0 0 4px;
    }
}