[id="header"] {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 34px 0 0;
    margin: 0 auto;

    .container-wrap {
        max-width: 1319px;
        padding: 0;
        display: flex;
        justify-content: space-between;

        @include media ('<widescreen') {
            max-width: 1024px;
        }

        @include media ('<desktop') {
            max-width: 768px;
        }

        .logo {
            display: inline-block;
            padding: 2px 0 0 4px;

            @include media ('<tablet') {
                padding-left: 20px;
            }

            @include media ('<phone') {
                padding-left: 20px;
            }

            img {

                @include media ('<desktop') {
                    max-width: 65%;
                }

                @include media ('<tablet') {
                    max-width: 80%;
                }

                @include media ('<phone') {
                    max-width: 100%;
                }
            }    
        }

        .nav-holder {
            @include media ('<tablet') {
                width: 100%;
            }
        }
        
        .nav-slide {
            padding: 0px 25px 0 0;  

            @include media ('<desktop') {
                padding: 0;
            }

            @include media ('<tablet') {
                padding: 0;
                display: none; 
            }
            

            li {
                display: inline-block;
                margin: 0 0 0 25px;

                @include media ('<desktop') {
                    padding: 0;
                    margin: 0 0 0 12px;
                }

                @include media ('<tablet') {
                    display:block;
                    width:100%; 
                    margin:0;
                    background-color: rgba($black, 0.7);
                    border-bottom: thin solid rgba($white, 0.3);
                    text-align: center;
                
                    &:hover {
                        transition-duration: 0.5s;
                    }
                }
        
                a {
                    color: $white;
                    letter-spacing: 0.3px;
                    line-height: 5;

                    &:hover {
                        color: $pink;
                    }

                    @include media ('<desktop') {
                        line-height: 3.5;
                    }

                    @include media ('<tablet') {
                        line-height: 3.2;
                    }
                }
            }
        }
    }
}


.nav-scroll {
    padding: 0;
    background-color: rgba($black, 0.7);

    .container-wrap .logo {
        padding: 14px 0 0;

        @include media ('<desktop') {
            padding: 8px 0 12px;
        }
    }

    ul li {
        padding-top: 8px;

        @include media ('<desktop') {
            padding: 0;
    
        }
    }

    .nav-opener {
        top: 14px;
    } 
}

.nav-opener {
    display: none;
    cursor: pointer;
    height: 26px;
    width: 26px;
    position: absolute;
    right: 20px;
    top: 50px;

    .icon {
        position: absolute;
        height: 3px;
        width: 30px;
        top: 10px;
        background-color: $pink;

        &:before {
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: $pink;
            content: "";
            top: -10px;
        }

        &:after {
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: $pink;
            content: "";
            top: 10px;
        }
    }

    @include media ('<tablet') {
        display: block;
        top: 40px;
    }
}

  

  
  
  
  